<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.indev.jubicare_premium">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:hardwareAccelerated="false"

        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/logo"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.indev.jubicare_premium.activity.ViewPrescription"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.indev.jubicare_premium.activity.NewUserWelcomeHome"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.indev.jubicare_premium.activity.NewUserHome"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.indev.jubicare_premium.Login"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.indev.jubicare_premium.activity.CommonProfile"
            android:screenOrientation="portrait" />
        <activity
        android:name="com.indev.jubicare_premium.activity.PatientActivity"
        android:screenOrientation="portrait" />
        <activity
            android:name="com.indev.jubicare_premium.activity.SignUp"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.indev.jubicare_premium.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.indev.jubicare_premium.activity.ForgotPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.indev.jubicare_premium.activity.CommonPrescription"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.indev.jubicare_premium.activity.PatientFillAppointment"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.indev.jubicare_premium.activity.HealthRecord"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.indev.jubicare_premium.activity.TakeReport"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.indev.jubicare_premium.activity.OldPrescription"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.indev.jubicare_premium.activity.OldAppointment"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.indev.jubicare_premium.activity.TakeOldPrescription"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.indev.jubicare_premium.WebViewImageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.indev.jubicare_premium.activity.CommonAppointment"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.indev.jubicare_premium.activity.CommonReport"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.indev.jubicare_premium.activity.Family"
            android:screenOrientation="portrait" />
<!--        <activity-->
<!--            android:name=".activity.FamilyActivity"-->
<!--            android:screenOrientation="portrait" />-->
        <activity
            android:name="com.indev.jubicare_premium.change_password.ChangePassword"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.indev.jubicare_premium.activity.Reports"
            android:screenOrientation="portrait" />
        <activity android:name="com.indev.jubicare_premium.activity.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.indev.jubicare_premium"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />

<!-- firebase notification -->
<!--        <receiver android:name=".acitivities.utils.MyReceiver">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
<!--                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

<!--        <service-->
<!--            android:name=".acitivity.service.MyFirebaseMessagingService"-->
<!--            android:directBootAware="true"-->
<!--            android:exported="false">-->
<!--            <intent-filter>-->
<!--                <action android:name="com.google.firebase.MESSAGING_EVENT" />-->
<!--                <action android:name="com.google.android.c2dm.intent.RECEIVE" />-->
<!--            </intent-filter>-->
<!--        </service>-->
        <service android:name="com.indev.jubicare_premium.service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service> <!-- firebase notification -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
<!--        <meta-data-->
<!--            android:name="com.google.firebase.messaging.default_notification_channel_id"-->
<!--            android:value="@string/default_notification_channel_id" />-->
    </application>


</manifest>


    <!--        android:roundIcon="@mipmap/ic_launcher_round"-->
